@{
    ViewData["Title"] = "Home Page";
}

<section class="p-4" style="background-color: #f3f5fa;">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title text-center">
            <h2 style="color: #37517e;">Контакты</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
                <ul class="list-group list-group-flush" id="contacts-ul">
                    <li class="list-group-item"><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                    <li class="list-group-item"><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                    <li class="list-group-item"><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>

    </div>
</section>

<section class="section-bg p-4" style="background-color: #37517e;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

                <div class="content">
                    <h3 style="color: rgba(255, 255, 255, 0.6); ">Eum ipsam laborum deleniti <strong style="color: #fff;">velit pariatur architecto aut nihil</strong></h3>
                    
                </div>

                <<div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Accordion Item #1
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Accordion Item #2
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-5 align-items-stretch order-1 order-lg-2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11624.188385870117!2d20.966937583113886!3d52.230948049074854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecb7d7ab5edbf%3A0x452afaa00580c4bb!2sLidl!5e0!3m2!1sru!2spl!4v1688830660510!5m2!1sru!2spl" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

    </div>
</section>
<script>
    const accordions = document.querySelectorAll(".accordion-collapse");
    let opening = false;
    accordions.forEach(function (el) {
        el.addEventListener("hide.bs.collapse", (event) => {
            if (!opening) {
                event.preventDefault();
                event.stopPropagation();
            } else {
                opening = false;
            }
        });
        el.addEventListener("show.bs.collapse", (event) => {
            opening = true;
        });
    });
</script>


