@model List<ProductModel>
@{
    ViewData["Title"] = "Каталог Камень";
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Products">Каталог</a></li>
        <li class="breadcrumb-item active" aria-current="page">Камень</li>
  </ol>
</nav>

<div class="row align-items-center justify-content-center">
    @foreach(var product in Model)
    {
        <div class="card m-1 p-0 bg-light" style="width: 15rem;">
            <img src="@product.ImageUrl" class="card-img-top" alt="https://fakeimg.pl/300x300/ff0000/">
            <div class="card-body">
                <p class="card-text text-center">@product.ShownName</p>
            </div>
        </div>
    }
</div>
